footer.container
	div.row 
		div.span12.footer Created by <span about="http://elseth.me#Eivind"><a  href="http://EivindEE.github.com" rel="foaf:homepage" property="foaf:name">Eivind Elseth</a></span>
		
each js in scripts
	script( src=js)
