footer.container
	div.row 
		div.span12.footer Created by <span about="http://elseth.me#Eivind"><a  href="https://plus.google.com/109805035452729053764" rel="author">Eivind Elseth</a></span>
		
each js in scripts
	script( src=js)

