footer.container
	div.row 
		div.span12.footer 
			div Created by <span about="http://elseth.me#Eivind" typeof="foaf:Person"><a  href="https://plus.google.com/109805035452729053764" rel="author"><span property="foaf:name">Eivind Elseth</span></a>, under the supervision of <span rel="foaf:supervisor"><a href="http://csabaveres.net" typeof="foaf:Person"><span property="foaf:name">Csaba Veres</span></a></span></span>.
			div View or fork the source code on <a href="https://github.com/EivindEE/Madame">GitHub.</a>
		
each js in scripts
	script( src=js)

