footer.container
	div.row 
		div.span12.footer 
			div Created by <span about="http://elseth.me#Eivind"><a  href="https://plus.google.com/109805035452729053764" rel="author">Eivind Elseth</a>.
			div View or fork the source code on <a href="https://github.com/EivindEE/Madame">GitHub.</a></span>
		
each js in scripts
	script( src=js)

