meta(charset="utf-8")
link(rel="rdf:primaryTopic", href="https://github.com/EivindEE/Madame")
link(about="https://github.com/EivindEE/Madame", rel="schema:downloadUrl", href="https://github.com/EivindEE/Madame/archive/master.zip")
link(rel="foaf:maker dc:creator", href="https://plus.google.com/109805035452729053764")
link(rel="meta", type="application/rdf+xml", title="FOAF", href="http://elseth.me/foaf.xml")
link(href="stylesheets/style.min.css", rel="stylesheet", type="text/css")

title #{title}
script
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-40022208-1']);
	_gaq.push(['_trackPageview']);
	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
