meta(charset="utf-8")
meta(rel="foaf:primaryTopic", href="http://eivindee.github.com/SemTag/")
meta(rel="foaf:maker dc:creator", href="http://elseth.me#Eivind")
meta(rel="rdf:type", href="http://sigma.ontologyportal.org:4010/sigma/WordNet.jsp?synset=106409085")
link(href="stylesheets/reset.css", rel="stylesheet", type="text/css")
link(href="stylesheets/bootstrap.css", rel="stylesheet", type="text/css")
link(href="stylesheets/style.css", rel="stylesheet", type="text/css")

title(property="http://xmlns.com/foaf/0.1/topic") #{title}