meta(charset="utf-8")
link(rel="foaf:primaryTopic", href="http://eivindee.github.com/SemTag/")
link(rel="foaf:maker dc:creator", href="http://elseth.me#Eivind")

link(href="stylesheets/reset.css", rel="stylesheet", type="text/css")
link(href="stylesheets/bootstrap.css", rel="stylesheet", type="text/css")
link(href="stylesheets/style.css", rel="stylesheet", type="text/css")

title(property="http://xmlns.com/foaf/0.1/topic") #{title}