link(href="stylesheets/reset.css", rel="stylesheet", type="text/css")
link(href="stylesheets/bootstrap.css", rel="stylesheet", type="text/css")
link(href="stylesheets/style.css", rel="stylesheet", type="text/css")