doctype 5
html( 
	prefix="rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# dc: http://purl.org/dc/elements/1.1/ foaf: http://xmlns.com/foaf/0.1/"
	)

	head(	
	)
		include includes/head
	body(
	)
		include includes/header

		div.container
			div.row
				p.span12 Where you can tag you content with words
			div.row
				p.span4 Write the url of the page you want to tag:
				div
					button#tag.btn Tag Selection
			div.row
				p.span4
			div.row
				div#container.span12
					p Bacon ipsum dolor sit amet rump venison tail ribeye. Venison tri-tip strip steak, flank bresaola kielbasa pork chop beef tenderloin. Tenderloin kielbasa fatback pastrami. Pastrami strip steak meatloaf filet mignon pork belly shank pancetta andouille spare ribs venison frankfurter.
					p Corned beef hamburger shank jowl. Ground round pork chop ham hock, biltong ball tip kielbasa fatback shoulder pig frankfurter cow. Spare ribs biltong capicola beef ribs. Leberkas tail meatball biltong capicola ball tip tri-tip prosciutto. Leberkas andouille turkey pancetta shoulder ham rump pork belly pork beef ribs swine. Bresaola chuck tenderloin capicola. Spare ribs tri-tip ground round, brisket turkey jowl leberkas swine capicola ball tip andouille jerky turducken tongue.
					p Short ribs chuck pancetta tail beef <em> shank venison.</em>Hamburger meatball jerky prosciutto swine ham meatloaf. Meatloaf ground round biltong cow brisket drumstick ball tip flank prosciutto swine boudin pork belly ham kielbasa pig. Ground round pork loin frankfurter chicken.
					p Ribeye flank turkey meatball pig chuck t-bone shank filet mignon strip steak beef ribs jowl pork belly ball tip. Frankfurter beef ribs jerky strip steak, tongue ball tip ribeye. Hamburger andouille tri-tip pork chop filet mignon, pork loin short ribs tail pastrami boudin brisket turkey ball tip jerky. Turkey jowl bresaola pork sirloin meatloaf chicken flank jerky turducken cow meatball tail.
					p Filet mignon beef turducken, strip steak fatback flank turkey rump tongue pork loin corned beef pancetta pig. Pork chop tail bacon chicken drumstick prosciutto fatback pastrami beef ribs strip steak ham pork loin pancetta. Tenderloin fatback beef ribs pancetta ham pork belly turkey biltong pork sirloin salami strip steak. Prosciutto pork loin jerky frankfurter, meatloaf turducken salami bresaola short ribs kielbasa. Pancetta ground round meatloaf chuck hamburger. Beef ribs beef turducken t-bone jowl venison. Sausage pork belly turducken pig sirloin.
			div.row
				div.span12#extracted
		include includes/foot
		script(src="javascripts/semtag.js")
		script(src="javascripts/semtag-setup.js")