doctype 5
html(
	prefix="rdf: http://www.w3.org/1999/02/22-rdf-syntax-ns# dc: http://purl.org/dc/elements/1.1/ foaf: http://xmlns.com/foaf/0.1/ schema: http://schema.org/ uni: http://swat.cse.lehigh.edu/onto/univ-bench.owl#",
	lang="en"
	)
	head
		include includes/head

	body.main-wrapper
		include includes/header
		div.container
			div.row
				h4.span6 Enter the URL of the page you want to add semantics to:
				div.input-append
					input.span4.input-medium.input-small.appendedInput#url(type="text", placeholder="Enter URL here!")
					div.add-on#get Get
			hr
			div#alerts
			div.row#content-container
				div#disambiuate.span4.bs-docs-sidebar
						div#sidebox.affix.span4
							ul.nav.nav-tabs#sidebar
								li
									a(href="#info") Information
								li
									a(href="#dym") Meanings
								li
									a(href="#export") Export
							div.tab-content
								div.tab-pane#info
									h4 Select words or sections from the box on the left
									p We will suggest possible meanings for these word, or you can write your own.
									p When a word is tagged it will be highlighted in <span class="tagged">red</span>. You can click this word to add properties to it. The properties available depends on the semantic meaning of the word.
									p When multiple words are tagged you can sometimes link them together using properties.
									p TIP: You will get the best results if you tag nouns( things) which are important on the page, and add properties to them.
								div.tab-pane#dym
									h4#dym-header Select the sense which describes "<span id='word'></span>", or write another term which descibes it
									input#dym-input(type='text', placeholder='Write the topic here')
									ul#senses
								div.tab-pane#export
									h4 Export you page to get the HTML with the extra meta data
									p Do you want to add your image to google searches? Write your Google+ account id here before you export:
									p
										input(class='span4', id='google-id', placeholder="https://plus.google.com/XXXXXXXXXXXXXXXXXXXXX")
									p Press the button to get the link to your newly created semantic webpage.
										| Press ctrl/cmd + s on the new page to save the source code. You can also come back and look at the page at the address at a later time.
									button#export-btn.btn export
									p#link
				div.span8
					h2(style="padding-left: 30px;") Highlight words to add metadata:
					hr
					div.span8#madame-content
						p Oscar Fingal O'Flahertie Wills Wilde (16 October 1854 – 30 November 1900) was an Irish writer and poet. After writing in different forms throughout the 1880s, he became one of London's most popular playwrights in the early 1890s. Today he is remembered for his epigrams, his only novel: The Picture of Dorian Gray, his plays and the circumstances of his imprisonment which was followed by his early death.
						p Wilde's parents were successful Anglo-Irish Dublin intellectuals. Their son became fluent in French and German early in life. At university Wilde read Greats; he proved himself to be an outstanding classicist, first at Dublin, then at Oxford. He became known for his involvement in the rising philosophy of æstheticism, led by two of his tutors, Walter Pater and John Ruskin. After university, Wilde moved to London into fashionable cultural and social circles. As a spokesman for æstheticism, he tried his hand at various literary activities: he published a book of poems, lectured in the United States and Canada on the new "English Renaissance in Art", and then returned to London where he worked prolifically as a journalist. Known for his biting wit, flamboyant dress, and glittering conversation, Wilde became one of the best-known personalities of his day.
						p At the turn of the 1890s, he refined his ideas about the supremacy of art in a series of dialogues and essays, and incorporated themes of decadence, duplicity, and beauty into his only novel, The Picture of Dorian Gray (1890). The opportunity to construct æsthetic details precisely, and combine them with larger social themes, drew Wilde to write drama. He wrote Salome (1891) in French in Paris but it was refused a licence for England due to the absolute prohibition of Biblical subjects on the English stage. Unperturbed, Wilde produced four society comedies in the early 1890s, which made him one of the most successful playwrights of late Victorian London.
		include includes/foot
