doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='shortcut icon', type='image/png', href='javascripts/lib/jasmine-1.1.0/jasmine_favicon.png')

		link(rel='stylesheet', type='text/css', href='javascripts/lib/jasmine-1.1.0/jasmine.css')
		script(type='text/javascript', src='javascripts/lib/jasmine-1.1.0/jasmine.js')
		script(type='text/javascript', src='javascripts/lib/jasmine-1.1.0/mock-ajax.js')
		script(type='text/javascript', src='javascripts/lib/jasmine-1.1.0/jasmine-html.js')
		script(type='text/javascript', src='javascripts/lib/console-runner.js')
		
		script(type='text/javascript', src='javascripts/lib/jasmine-setup.js')

		// include spec files here...
		each spec in specs
			script(type='text/javascript', src=spec)
		each source in sources
			script(type='text/javascript', src=source)
	body
		