/* line 26, scss/style.scss */
iframe {
  height: 50em;
  border-style: solid;
  border-width: 3 px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: black;
}

/* line 31, scss/style.scss */
.container {
  min-height: 700 px;
}

/* line 35, scss/style.scss */
.tagged {
  background-color: #ddeecc;
}

/* line 39, scss/style.scss */
#extracted:not(:empty), .footer {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
}

/* line 43, scss/style.scss */
#dym:not(:empty) {
  min-width: 200px;
  min-height: 50px;
  max-height: 500px;
  overflow: auto;
}

/* line 51, scss/style.scss */
#senses {
  margin: 0;
}

/* line 54, scss/style.scss */
.word-sense {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  max-height: 40px;
  overflow: hidden;
}

/* line 60, scss/style.scss */
.word-sense:hover {
  background-color: #eeeeee;
}

/* line 64, scss/style.scss */
#dum:empty {
  display: none;
}
