/* line 28, scss/style.scss */
iframe {
  height: 50em;
  border-style: solid;
  border-width: 3 px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border-color: black;
}

/* line 33, scss/style.scss */
.container {
  min-height: 700 px;
}

/* line 37, scss/style.scss */
.tagged[resource*="dbpedia.org"] {
  background-color: #ff7d40;
}

/* line 42, scss/style.scss */
.tagged[resource*="http://www.w3.org/2006/03/wn/wn20/instances/synset"] {
  background-color: #bada55;
}

/* line 46, scss/style.scss */
.tagged[resource*="schema.org"] {
  background-color: #38b0de;
}

/* line 50, scss/style.scss */
.remove {
  background-color: transparent;
}

/* line 54, scss/style.scss */
.removeIcon {
  padding-left: 1px;
  height: 5px;
  width: 5px;
  position: relative;
  top: -8px;
}

/* line 62, scss/style.scss */
#extracted:not(:empty), .footer {
  border-top-style: solid;
  border-top-width: 2px;
  border-top-color: black;
}

/* line 66, scss/style.scss */
#dym:not(:empty) {
  min-width: 200px;
  min-height: 50px;
  max-height: 500px;
  overflow: auto;
}

/* line 74, scss/style.scss */
#senses {
  margin: 0;
}

/* line 77, scss/style.scss */
.word-sense {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  max-height: 40px;
  overflow: hidden;
}

/* line 83, scss/style.scss */
.word-sense:hover {
  background-color: #eeeeee;
}

/* line 87, scss/style.scss */
#dum:empty {
  display: none;
}
