@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


@mixin border($width: 1px, $radius: 3px, $style: solid) {
	border-style : $style;
	border-width: $width;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
}
iframe {
	height: 50em;
	@include border(2 px);
}