@import "includes/shapes";
$highlighted: #EEEEEE;
$tagged: #DEC;
@mixin rounded($side, $radius: 10px) {
  border-#{$side}-radius: $radius;
  -moz-border-radius-#{$side}: $radius;
  -webkit-border-#{$side}-radius: $radius;
}


@mixin border($width: 1px, $radius: 3px, $style: solid, $color: black, $side: "") {
	border-style : $style;
	border-width: $width;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	border-radius: $radius;
	border-color: $color;
}

@mixin border-top($width: 1px, $radius: 3px, $style: solid, $color: black) {
	border-top-style : $style;
	border-top-width: $width;
	border-top-color: $color;
}

iframe {
	height: 50em;
	@include border(3 px);
}

.container {
	min-height: 700 px;
}

.tagged {
	background-color: $tagged;
}







#extracted:not(:empty), .footer {
	@include border-top(2px, 3px, solid, black);
}

#dym:not(:empty) {
	min-width : 200px;
	min-height: 50px;
	max-height: 200px;
	overflow: auto;
}

.word-sense {
	@include border-top();
	max-height: 40px;
	overflow: hidden;
}

.word-sense:hover {
	background-color: $highlighted;
}

#dum:empty {
	display: none;
}

